<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="form-submit">
    <form action="/user/login" method="POST">

       <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" id="InputPassword" placeholder="Password">
        <input type = "checkbox" onclick="showpassword()" >show password <br>
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  </body>
  <script>
     function showpassword(){
      var pass = document.getElementById('InputPassword');
      if(pass.type === 'password')
      {
        pass.type = "text"
      }
      else
      {
        pass.type = 'password'
      }
     }
  </script>
</html>
